[submodule "sphractal-feedstock"]
	path = sphractal-feedstock
	url = git@github.com:conda-forge/sphractal-feedstock.git
[submodule "src/fastbc"]
	path = src/fastbc
	url = git@github.com:Jon-Ting/fastbc.git
